li {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

hr {
    border: 1px solid #20FC8F;

}
img {
    margin-top: 12px;
    height: 100%;

}

.employeeInfoKey {
    margin-left: 20px;
    margin-top: 0px;
    font-weight: bold;
}

.employeeInfoValue {
  
    margin-top: 0px;
    margin-left: 10px;
}

input {
    padding:10px;
    border:0;
  }