
.employee {
background-color:white;
padding: 10px 0px 20px 20px;
margin-bottom: 45px;
box-shadow: -6px 6px 5px #c2c1c1c7;
}

li {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* hr {
    border: 1px solid #01D494;
    margin-top: 25px;
    margin-bottom: 25px;

} */
img {
    margin-top: 12px;
    height: 100%;
    border: 5px solid #01D494;
    

}

.employeeInfoKey p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #A2A1A1; 
}


.employeeInfoKey {
    margin-left: 20px;
    margin-top: 0px;
    font-weight: bold;
    /* background-color: #C7C6C6; */
    padding-left: 20px;
    padding-right: 20px;
}

.employeeInfoValue {
  /* background-color: white; */
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    padding:10px;
    border:0;
  }