@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;500;600&display=swap');

.container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

header {
font-family: 'Work Sans', sans-serif;
background-color: #25333a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='61' height='30.5' viewBox='0 0 61 30.5'%3E%3Cdefs%3E%3Crect stroke='%2325333a' stroke-width='0.1' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%2325333a' stroke-width='0.1'%3E%3Crect fill='%2329373e' width='1' height='1'/%3E%3Crect fill='%2325333a' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%232e3b42' width='1' height='1' y='1'/%3E%3Crect fill='%23323f46' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2336434a'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%233b474e'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2325333a'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%233f4b52'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2301d494'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2301d494'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='61' height='30.5'/%3E%3Crect fill='url(%23b)' width='61' height='30.5'/%3E%3Crect fill='url(%23c)' width='61' height='30.5'/%3E%3Crect fill='url(%23d)' width='61' height='30.5'/%3E%3Crect fill='url(%23e)' width='61' height='30.5'/%3E%3Crect fill='url(%23f)' width='61' height='30.5'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
color: #01D494;
width: 100vw;
text-align: center;
letter-spacing: normal;
box-shadow: -6px 6px 5px #c2c1c1c7;
margin-bottom: 25px;
}

h1 {
    padding-top: 20px;
    font-size: 2.5em;
}

.searchBar {
    padding-bottom: 30px;
   
}

.searchBar input {
    border: 2px solid #01D494;
}

label {
    padding-right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 2px solid #01D494;
    border-left: 2px solid #01D494;
    border-bottom: 2px solid #01D494;
    padding: 7px 8px 9px 8px;
   
    
}

li {
    list-style: none;
}