.container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

header {
font-family: 'Shrikhand', cursive;
color: #20FC8F;
background-color: #3F5E5A;
width: 100vw;
text-align: center;
letter-spacing: normal;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

form {
    padding-bottom: 20px;
}

label {
    padding-right: 10px;
}

li {
    list-style: none;
}